#qwer {
  width: 90%;
  margin: auto;
  height: auto;
  border: 2px solid crimson;
}

#poster {
  width: 90%;
  margin: auto;
}

.cursor-pointer:hover {
  cursor: pointer;
}

#poster > img {
  width: 100%;
  aspect-ratio: auto;
}

.text-center {
  text-align: center;
}

.black-button {
  border: none;
  background-color: black;
  padding: 10px 50px;
  color: white;
  margin-bottom: 30px;
  margin-top: 0;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.spring-summer {
  display: flex;
  gap: 0;
  min-height: 400px;
  margin-top: 50px;
  position: relative;
}

.spring {
  width: 50%;
  background-color: black;
}

.summer {
  width: 50%;
}

.summer > img {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
}

.absolute {
  position: absolute;
  margin-left: 8%;
  color: white;
  margin-top: 12%;
}

.absolute2 {
  position: absolute;
  margin-left: 55%;
  color: white;
  margin-top: 12%;
}

.white-button {
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 10px 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  margin-top: 0;
}

.absolute > h1 {
  font-size: 60px;
  line-height: 25px;
}

.absolute > p {
  font-size: 20px;
  line-height: 10px;
}

.absolute > button {
  margin-top: 20px;
}

.absolute > button:hover {
  cursor: pointer;
}
