#navbar{
    height:auto;
    width: 100%;
     /* border: 5px solid red;   */
}
#navfir{
    height: auto;
    width: 100%;
     /* border: 1px solid black;  */
     display: flex; 
}
#navmen{
    display: flex;
    margin-left: 14%;
    height: 5%;
    width: 12%;
 /* border: 1px solid teal;    */
    justify-content: space-around;
}
.p{
    font-size: 14px;
    font-family:"Century Gothic",
     "Gill Sans", Helvetica, Arial;
     color: #757575;
     font-weight: 400;    
 }

#navacc{
      display: flex;
      margin-left: 27%;
      height: 35px;
      width: 35%;
      margin-top: 0.3%;
      border: 1px solid pink;   
     justify-content: space-around;
 }
.p1{
    font-family:Arial, Helvetica, sans-serif; 
    color: #757575;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

#navthir{
    margin-top: 2%;
   /* border: 1px solid red;   */
   height: 80px;
   width: 100%;
   text-align: center;
   display: flex;
}
#imgmy{
     /* border: 1px solid blue;   */
    width: 310px;
    height: 62%;
    margin-left: 40%;
    /* display: flex; */
}
#imgmyth{
 width: 100%;
 margin-top: 1%;

 
}
 #navshop{
      /* border: 3px solid black;   */
    height: 46%;
    width: 180px;
    margin-left: 15%;
    margin-top: 15px;
     /* display: inline-block; 
    margin-left: 40%; */

} 
.p2{
    justify-content: end;
    color: #757575;
    font-size: 13px;
    display: inline-block;
}
#bag
{
    margin-left: 10px;
}
